@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
li.nav-item.ms-3.me-3.text-light.fw-normal.fs-4{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* header css */
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0px;
  background: #5e5c582b !important;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: initial;
  align-items: center;
}
a.navbar-brand.ms-2 {
  background: wheat;
  border-radius: 9px;
}

h1, h2 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}




/* Parallax */
:root {
  --primaryColor: #282a57;
  --secondaryColor: #e4e4e4;
}
body {
  font-family: "Rubik", sans-serif;
 
}
.parallax-outer {
  overflow: hidden;
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
}

.parallax {
  height: 110vh;
  width: 100%;
  position: relative;
}

.parallax img {
  position: absolute;
  left: 0px;
}


.mountain-3,
.mountain-2,
.mountain-1 {
  width: 100%;
  bottom: 0;
  z-index: 3;
}

.mountain-2 {
  bottom: 20px;
  z-index: 2;
}

.mountain-1 {
  bottom: 40px;
  z-index: 1;
}

.sun {
  top: 70%;
  left: 50% !important;
  transform: translate(-50%, -50%);
  width: 40%;
}

.clouds-left {
  left: 0;
  width: 20%;
}

.clouds-right {
  right: 0;
  width: 20%;
}

.clouds-bottom {
  bottom: 0px;
  width: 100%;
}

.stars {
  top: -550px;
  left: 0;
  width: 100%;
}

.copy {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  color: var(--secondaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
}

.copy h1 {
  font-size: 8rem;
}

.copy span {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  padding: 1rem;
  font-weight: 800;
  border-radius: 0.5rem;
  opacity: 0;
}

.about {
  color: var(--secondaryColor);
  padding-left: 10%;
  padding-bottom: 20%;
}

.about h2 {
  color: var(--secondaryColor);
  font-size: 5rem;
}

.about p {
  margin-top: 20px;
  width: 50%;
}


/* slider */

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  height: 100%;
  background-color: #fefefe;
}
.slick-next {
  right: 6% !important;
  z-index: 9999 !important;
}
.slick-prev {
  left: 90% !important;
  z-index: 9999 !important;
}
.slick-prev, .slick-next {
  
  position: absolute;
  top: 90% !important;
  
  
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  color: #00000000 !important;
  outline: #ffffff !important;
  background: #00000000 !important;
}
.slider-container .slick-prev:before, .slider-container .slick-next:before {

  color: #ffffff !important;
  font-size: 35px !important;

}

.main-container{
  width: auto;
  height: auto;
  position: relative;
  overflow: visible;
}

.content{
  color: #fff;
  text-align: center;
}

h1{
  font-size: 4rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
}

/* Smooth transition of the next section */
.next-section {
  height: auto;
  background-color: #ffffff00;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transform: translateY(100%); /* Initially hidden */
  transition: transform 1s ease, opacity 1s ease; /* Smooth transition */
}

.next-section.unlocked {
  opacity: 1;
  transform: translateY(0); /* Slide into view when slider finishes */
  transition: transform 1s ease-in-out, opacity 1s ease-in-out; /* Smooth transition */
}


.slide {
  height: 100vh;
  display: flex !important;
  justify-content: left;
  position: relative;
  padding-left: 20px;
  align-items: center;
  background: url('./image/school-ground.jpg') no-repeat center center/cover; /* Replace with your background */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-animation: zoomin 2s ease-in infinite;
  animation: zoomin 10s ease-in infinite;
  transition: all 1s ease-in-out;
  overflow: hidden;
}
@-webkit-keyframes zoomin {
  0% {transform: scale(1);}
  50% {transform: scale(1.020);}
  100% {transform: scale(1);}
}
@keyframes zoomin {
  0% {transform: scale(1);}
  50% {transform: scale(1.020);}
  100% {transform: scale(1);}
} /*End of Zoom in Keyframes */

.group-text{
  overflow: hidden;
  position: relative;
  font-family: "Raleway", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(15, 141, 28);
}

.text-line {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: dash 5s linear forwards, filling 5s ease-in forwards;
  font-size: 80px;
}

.text-line text {
  font-family: Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-style: normal;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes filling {
  0%, 90% { fill: #bac736; fill-opacity: 0; }
  100% { fill: #bac736; fill-opacity: 1; }
}
.group-text1 {
	font-family: "Cairo";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* height: 100vh; */
	letter-spacing: 1px;
	line-height:2
}

.slide h2 {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	margin: 10px 0;
}


 

.slide img.img-slide-1 {
  position: absolute;
  right: 20%;
  bottom: -40px;
}

.slide .content {
  position: absolute;
  bottom: 0%;
  max-width: 600px;
  width: 600px;
  background-color: #f4ececa8;
  padding: 30px;
}
.slide h1{
  text-align: start;
 font-size: 80px;
 font-weight: bold;
 display: inline-block;
 margin-bottom: 0px;

}
/* .slide h2{
  text-align: start;
  font-size: 70px;
  font-weight: bold;
  background: linear-gradient(90deg, #ffffff 40%, #f90202 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
.slide p{
  text-align: start;
  font-size: 20px;
  color: #000000;
}
/* Keyframes for slide-up effect */
@keyframes slideUp {
  0% {
    transform: translateY(120px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Initial styling for the text */
.slide-up-text {
  animation: slideUp 0.5s ease-out forwards; /* Trigger slide-up animation */
  opacity: 0; /* Start hidden */
}
/* Keyframes for slide-right effect */
@keyframes slideRight {
  0% {
    transform: translateX(500px); /* Start off-screen to the left */
    opacity: 0;
  }
  100% {
    transform: translateX(0); /* End at the original position */
    opacity: 1;
  }
}

/* Apply animation to the image */
.img-slide-1 {
  animation: slideRight 1s ease-out forwards; /* 1s duration for slide-right animation */
  opacity: 0; /* Initial opacity for fade-in effect */
}




/* scroll top */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  overflow: visible;
  right: 20px;
  background-color: #007bff;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  z-index: 9999;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease;
  opacity: 0.8;
}

.scroll-to-top:hover {
  opacity: 1;
}


/* Silder css */

/* About Us */
#about h2{
  background: linear-gradient(90deg, #6d2c2c 10%, #23833b 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#about ul{
  padding: 0;
}

/* Why Choose   */

.about-1 h1, h2 {
  font-size: 70px;
  font-weight: bold;
  background: linear-gradient(90deg, #000000 40%, #23833b 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.content-col{
  background-color: #fff;
  box-shadow: 1px 2px 4px 1px rgb(199, 211, 242);
  border-radius: 8px;
  height: 470px;
}
h5{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


/* section3 */
.About-2, #about{
  background: linear-gradient(to right, #e6e5e5, #f4f2f1, #f8e9e9);

}
li {
	list-style-type: none;
}
.text-about-2{
  color: #8d5151;
}
.span-p{
  font-style: italic;
}
.img-about-2{
border-radius: 8px;
}
.about-1 p, .about-2 p{
  color: #474d55;
}

.heading-about-2{
text-decoration: underline;
}
.button-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.a-read-more{
background-color: #e54444;
color: white;
width: 360px;
padding: 10px 20px;
border-radius: 8px;
}
.a-read-more:hover{
  color: white;
}
.subheading{
  color: #e54444;
  text-transform: uppercase;
}


/* section4 */

.About-3 h1, .About-3 h2 {
  font-size: 70px;
  font-weight: bold;
  background: linear-gradient(90deg, #e54444 40%, #23833b 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;

}
.content-col1{
  background-color: #fff;
  box-shadow: 1px 2px 4px 1px rgb(199, 211, 242);
  border-radius: 8px;
  height: 510px;
}
.a-about-3{
  background-color: #e54444;
color: white;

padding: 10px 20px;
border-radius: 8px;
}
.a-about-3:hover{
  color: white;
}


/* Testimonial css */
.About-5{
  background-color: #f1eaea;
}



.About-5 .slick-slider{
  background-color: #ffffff;
  box-shadow: 1px 1px 10px 1px pink;
  padding: 20px;
}
.About-5 .slick-prev:before, .slick-next:before {

  color: #000000 !important;
  font-size: 35px !important;

}
.About-5 .slick-prev {
  left: 89% !important;
  z-index: 9999 !important;
}

/* Gallery */

.portfolio-item {
  position: relative;
  overflow: hidden; /* Ensures images do not overflow */
}

.hover-bg {
  position: relative;
}

.large-image {
  width: 100%; /* Full width for large image */
  height: auto; /* Maintain aspect ratio */
  transition: opacity 0.3s ease; /* Transition for smooth effect */
}

.small-image {
  position: absolute; /* Position small image on top */
  top: 0;
  left: 0;
  width: 100%; /* Full width for small image */
  height: auto; /* Maintain aspect ratio */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Transition for smooth effect */
}

.hover-bg:hover .small-image {
  opacity: 0.5; /* Show small image on hover */
}

.hover-bg:hover .large-image {
  opacity: 0; /* Hide large image on hover */
}

.hover-content {
  position: absolute; /* Position content on top of the small image */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the content */
  text-align: center; /* Center text */
}

.image-title {
  color: #333; /* White text for visibility */
  margin-top: 10px; /* Space above title */
  font-size: 18px; /* Adjust font size */
  transition: opacity 0.3s ease; /* Smooth transition for text */
  opacity: 0; /* Initially hidden */
}

.hover-bg:hover .image-title {
  opacity: 1; /* Show title on hover */
}

/* Feature */
#features {
  background: linear-gradient(to right, #e6e5e5, #f4f2f1, #f8e9e9);
  padding: 60px 0; /* Add padding for better spacing */
}

.section-title {
  margin-bottom: 40px; /* Space between title and features */
}

#features .col-xs-6,
#features .col-md-3 {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the items */
  text-align: center; /* Center text under icons */
}

#features .icon {
  font-size: 38px; /* Adjust the size as needed */
  margin-bottom: 20px; /* Space below the icon */
  transition: all 0.5s;
  color: #fff;
  width: 100px;
  height: 100px;
  padding: 30px 0;
  border-radius: 50%;
  background: linear-gradient(to right, #0b8124 0%, #fb5c5c 100%);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
  display: flex; /* Ensure flex for centering */
  justify-content: center; /* Center content inside */
  align-items: center; /* Center content vertically */
}

#features h3 {
  margin: 10px 0; /* Space between title and text */
}

#features p {
  color: #666; /* Subtle text color */
}
/* newsLatter */
.card {
  border: none;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.card-header button {
  font-size: 1rem;
  color: #6200ea;
  text-align: left;
  width: 100%;
}

.card-header button:hover {
  color: #c2185b;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.blogs img,.resource img {
  max-width: 100px;
  width: 100%;
}
.blogs, .resource{
  align-items: center;
  gap: 10px;
  justify-content: start;
  display: flex;
}
a.blog-title {
  text-decoration: none;
  color: #333;
}
.blog-category,.resource-category{
  font-size: 14px;
  text-align: left;
  color: #333 !important;
  margin: 0;
}
h2.card-title.font-weight-bold {
  font-size: 32px;
}
.newsleetter-container h3 {
  font-size: 1.75rem;
  font-weight: normal;
  color: #ffffff;
}
/* Footer */
/* Footer Styles */
.footer {
  background: linear-gradient(to right, #e6e5e5, #f4f2f1, #f8e9e9);
  color: #111; /* White text for visibility */
  font-size: 0.9rem;
}

/* Headings */
.footer h6 {
  font-weight: bold;
  color: #111;
  text-align: left;
}

/* Links Styling */
.footer a {
  color: #222;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #111;
}

/* Social Icons */
.footer .social-icons a {
  font-size: 1.3rem;
  color: #ffffff;
  margin: 0 8px;
  transition: color 0.3s ease;
}

.footer .social-icons a:hover {
  color: #c21818; /* Pinkish color on hover */
}

/* Bottom Section */
.footer .footer-bottom {
  background-color: #161616; /* Slightly lighter purple for bottom section */
  color: #e0e0e0;
  font-size: 0.9rem;
  text-align: center;
}

/* Responsive adjustments */
@media (max-width: 767.98px) {
  .footer h6 {
    text-align: center;
  }

  .footer .row > div {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .footer .social-icons {
    justify-content: center;
    margin-top: 15px;
  }
}

@media (max-width: 1400px) and (min-width: 1000px) {
  .slide img.img-slide-1 {
    position: absolute;
    right: 5%;
    bottom: -40px;
}
.slide .content {
 
  max-width: 550px;
 
}
.slide h2 {

  font-size: 100px;
 
}
.text-line {

  font-size: 75px;
}
.slick-prev {
  left: 86% !important;
  
}
.content-col {

  height: 630px;

}
.content-col1 {
  
  height: 540px;
}
.About-5 .slick-next {
  right: 4% !important;
  z-index: 9999 !important;
}
}
@media (max-width: 999px) and (min-width: 767px) {
  .slide img.img-slide-1 {
    position: absolute;
    right: 0%;
    bottom: -40px;
    width: 400px !important;
}
.slide .content {
 
  max-width: 550px;
 
}
.slide h2 {

  font-size: 70px;

}
.text-line {

  font-size: 50px;
}
.slick-prev {
  left: 86% !important;
  
}
.content-col {
  height: 570px;
}
.content-col1 {
  
  height: 540px;
}
.About-5 .slick-prev {
  left: 85% !important;
  z-index: 9999 !important;
}
.About-3 img.first-img.m-3.mb-4 {
  width: 100% !important;
  margin: 0px !important;
}
.About-1 .col-md-4 {
  flex: 0 0 auto;
  width: 49.33333333%;
  padding: 10px
}
}
@media (max-width: 766px) {
  .slide img.img-slide-1 {
    position: absolute;
    right: 0%;
    bottom: -40px;
    width: 400px !important;
}
.slide .content {
  max-width: 400px;
  z-index: 999;
}
.slide h2 {

  font-size: 70px;

}
.text-line {

  font-size: 50px;
}
.slick-prev {
  left: 79% !important;
  
}
.slide {
 
  padding-left: 10px;
}
.content-col {
  height: 570px;
}
.content-col1 {
  
  height: 540px;
}
.About-5 .slick-prev {
  left: 74% !important;
  z-index: 9999 !important;
}
.About-3 img.first-img.m-3.mb-4 {
  width: 100% !important;
  margin: 0px !important;
}
.About-1 .col-md-4 {
  /* flex: 0 0 auto;
  width: 49.33333333%; */
  padding: 10px
}
.about-1 h1, h2 {
  font-size: 3rem !important;
}
}
@media (max-width: 420px) {
  .slide {
 
    padding-left: 0px;
  }
  .about-1 h1, h2 {
    font-size: 3rem !important;
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
